@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html, body {
  font-family: "Pretendard", "SF Pro", "sans-serif";
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.button-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

:root {
  --ui-01: #ffffff;
  --ui-02: #f4f4f4;
  --ui-03: #e0e0e0;
  --text-04: #ffffff;
  --gray-10: #f4f4f4;
  --gray-80: #393939;
  --blue-60: #0f62fe;
  --red-60: #da1e28;
  --green-60: #198038;
  --yellow: #f1c21b;

  --support-02: var(--green-60);
  --support-03: var(--yellow);
  --ui-background: var(--gray-10);
  --interactive-01: var(--blue-60);
  --interactive-02: var(--gray-80);
  --danger-01: var(--red-60);
}
